<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-Football Widget</title>
</head>
<body>
    <h1>Partidos de Fútbol</h1>

    <!-- Widget de API-Football -->
    <div id="wg-api-football-games"
         data-host="api-football-v1.p.rapidapi.com"
         data-key="4809c7f7a3msh08a90eff7695782p1fc9c7jsn8deb488de5dc"   <!-- Aquí solo va la API Key -->
         data-date=""  <!-- Deja vacío para mostrar partidos del día actual-->
         data-league="39"  <!-- Premier League -->
         data-season="2023"  <!-- Temporada 2023 -->
         data-theme=""  <!-- Deja vacío para tema predeterminado -->
         data-refresh="15"  <!-- Refresca los datos cada 15 segundos -->
         data-show-toolbar="true"
         data-show-errors="false"
         data-show-logos="true"
         data-modal-game="true"
         data-modal-standings="true"
         data-modal-show-logos="true">
    </div>

    <script
        type="module"
        src="https://widgets.api-sports.io/2.0.3/widgets.js">
    </script>
</body>
</html>
